@model IEnumerable<WebApplicationEEmergency.Paramedic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIDN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notificationToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParamedicTeam.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIDN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notificationToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParamedicTeam.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.userType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phoneNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.phoneNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phoneNumber })
        </td>
    </tr>
}

</table>
