@model WebApplicationEEmergency.ParamedicTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParamedicTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deploymentLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deploymentLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCD.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCD.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teamNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
